# Ignore Python virtual environments
env/
msenv/
.msenv/
.venv/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Kaggle temporary files
/kaggle/temp/
*.kaggle

# TensorFlow / Keras model files
*.h5
*.pb
*.ckpt

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env